servers/skyblock/config/plugins/VoidGenerator-1.7.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/AppleCore-mc1.12.2-3.4.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/CustomStartingGear-1.12-1.2.0.9-universal.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/RecurrentComplex-1.4.8.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/weirdinggadget-1.12.2-2.1.16-universal.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/BentoBox/addons/Visit-1.1.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/arcanearchives-0.2.0.25-mixins8.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/MmmMmmMmmMmm-1.12-1.14.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/ThaumicAugmentation-1.12.2-2.0.9.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/UniDict-1.12.2-2.9.7.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Hwyla-1.8.26-B41_1.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/proxy/plugins/Yamler-Bungee-2.4.0-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/BentoBox/addons/BSkyBlock-1.14.3.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/astralsorcery-1.12.2-1.10.27.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/camouflagedcreepers-1.7.1.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/ChickenChunks-1.12.2-2.4.2.74-universal.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/CodeChickenLib-1.12.2-3.2.3.358-universal.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/IvToolkit-1.3.3-1.12.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/llibrary-1.7.19-1.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/TinkersComplement-1.12.2-0.4.3.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/Holograms-2.13.3.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/StorageDrawers-1.12.2-5.4.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/OptiFine_1.12.2_HD_U_G5_pre1.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/DisableJoinMessage.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/ChestCommands.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/ViaVersion-3.2.2-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/BetterAdvancements-1.12.2-0.1.0.77.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/mysticallib-1.12.2-1.9.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/VanillaFix-1.0.10-150.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/FastLoginBukkit.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Botania[[:space:]]r1.10-363.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/ElectroblobsWizardry-4.3.1-MC1.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/instantunify-1.12.2-1.1.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Mekanism-1.12.2-9.8.3.390.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/Warping.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/ProtocolLib.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/crimsonrevelations-0.8.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/JustEnoughIDs-1.0.3-55.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Placebo-1.12.2-1.6.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/TConstruct-1.12.2-2.13.0.183.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/plugins/DisableJoinMessage.jar filter=lfs diff=lfs merge=lfs -text
servers/proxy/plugins/AuthMeBungee-2.2.0-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/Sickle.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/SuperElytra-2.7.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/iceandfire-1.9.1-1.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/WearableBackpacks-1.12.2-3.1.4.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Charm-1.12.2-1.4.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/WrapUp-1.12-1.1.3.jar filter=lfs diff=lfs merge=lfs -text
servers/proxy/plugins/FastLoginBungee.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/BetterFps-1.4.8.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/plugins/VaultChatFormatter.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/VaultChatFormatter.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/LWCX-2.2.7-dev.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/fossilsarcheology-8.0.4.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/DefaultOptions_1.12.2-9.2.8.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/EnderIO-1.12.2-5.2.66.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/BetterShulkerBoxes-2.14.5.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/NoMobGriefing-2.5.1.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/PlaceholderAPI/expansions/Expansion-bungee.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/Holograms-2.13.3.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/ViaBackwards-3.2.1-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/EnderStorage-1.12.2-2.4.6.137-universal.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/librarianlib-1.12.2-4.22.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/LuckPerms-Bukkit.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/forestry_1.12.2-5.8.2.387.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Pam's[[:space:]]HarvestCraft[[:space:]]1.12.2zg.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/WanionLib-1.12.2-2.5.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/EnderCore-1.12.2-0.5.76.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/AppleSkin-mc1.12-1.0.14.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Baubles-1.12-1.5.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Charset-Lib-0.5.6.5.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/QuarkOddities-1.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/proxy/plugins/LuckPerms-Bungee-5.2.67.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/ViaVersion-3.2.2-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/BloodMagic-1.12.2-2.4.3-105.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/Harbor-1.6.3.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/PlaceholderAPI/expansions/Expansion-math.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/PlaceholderAPI/expansions/Expansion-pinger.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Apotheosis-1.12.2-1.12.5.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/AtlasExtras-1.12.2-1.8.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/GeographiCraft-1.12-0.8.9b.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/JustEnoughPetroleum-0.1.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/worldedit-forge-mc1.12.2-6.1.10-dist.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/ChangeSkinBukkit.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Commons0815-1.12.2-1.3.8.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Farseek-1.12-2.5.1.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/incorporeal-1.2.5.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/PotionCore-1.9_for_1.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/plugins/Vault.jar filter=lfs diff=lfs merge=lfs -text
servers/proxy/plugins/GlobalTablist-1.12.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/Vault.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/plugins/ChangeSkinBukkit.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/spawntp.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/antiqueatlas-1.12.2-4.6.3.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/TinkerToolLeveling-1.12.2-1.1.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Wawla-1.12.2-2.6.275.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Hexxit[[:space:]]Gear-1.12.2-2.8.0.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/ProtocolLib.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/CookingForBlockheads_1.12.2-6.5.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/CTM-MC1.12.2-1.0.2.31.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/phosphor-1.12.2-0.2.6+build50-universal.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/jetif-1.12.2-1.5.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Patchouli-1.0-22.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/ColoredSigns-4.2.0.jar filter=lfs diff=lfs merge=lfs -text
servers/proxy/plugins/movemenow-1.2-17.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/AuthMe-5.6.0-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Forgelin-1.8.4.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Waystones_1.12.2-4.1.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Mantle-1.12-1.3.3.55.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/MekanismGenerators-1.12.2-9.8.3.390.jar filter=lfs diff=lfs merge=lfs -text
servers/proxy/plugins/Geyser-BungeeCord.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/Citizens-2.0.27-b2206.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/HologramsPlaceHolders.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/FluxNetworks-1.12.2-4.1.1.34.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/jei_1.12.2-4.16.1.302.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/plugins/ProtocolLib.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/BetterShulkerBoxes-2.14.5.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/NoMoreRecipeConflict-0.13(1.12.2).jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/plugins/LuckPerms-Bukkit.jar filter=lfs diff=lfs merge=lfs -text
servers/proxy/plugins/SimpleCommands-1.4-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/rustic-1.1.6.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/StorageDrawersUnlimited-1.12.2-1.3.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/WailaHarvestability-mc1.12-1.1.12.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/DisableJoinMessage.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/ViaBackwards-3.2.1-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/ido-1.12.2-1.1.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/SpartanWeaponry-1.12.2-beta-1.3.8.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/ItemJoin-5.1.1-SNAPSHOT-b593.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/elenaidodge-1.12.2-2.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/ImmersiveEngineering-0.12-98.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/OpenComputers-MC1.12.2-1.7.5.192.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/ViaVersion-3.2.2-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/CoreProtect-19.3.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/future-mc-1.12.2-0.2.4.1.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/NomadicTents-1.12.2-9.5.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/OpenBlocks-1.12.2-1.8.1.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/ThaumicJEI-1.12.2-1.6.0-27.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/tinkersjei-1.2.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/Vault.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/ProtocolLib.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/rpsideas-2.4.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/twilightforest-1.12.2-3.11.1021-universal.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/DynamicSurroundings-1.12.2-3.6.1.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/refinedstorage-1.6.16.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/solcarrot-1.12.2-1.8.4.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/randompatches-1.12.2-1.22.1.7.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Reliquary-1.12.2-1.3.4.796.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/BentoBox/addons/MagicCobblestoneGenerator-2.2.1.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/DisableJoinMessage.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/LuckPerms-Bukkit.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/JustEnoughResources-1.12.2-0.9.2.60.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/QualityTools-1.0.7_for_1.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/VaultChatFormatter.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/DimensionalDoors-3.0.9-287.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/rats-3.2.14-1.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/proxy/plugins/BungeeChat-2.2.3.1241.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Guide-API-1.12-2.1.8-63.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/VoidGenerator-1.7.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Streams-1.12-0.4.8.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/BentoBox/addons/Level-2.5.0.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/SimpleTpa-5.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/alternatingflux-0.12.2-2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Cucumber-1.12.2-1.1.3.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/spartanfire-0.08.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Psi-r1.1-78.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/signpost-1.12.2-1.08.3.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/LuckPerms-Bukkit.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Charset-StorageChests-0.5.6.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/immersivepetroleum-1.12.2-1.1.9.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Quark-r1.6-179.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/Vault.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/chiselsandbits-14.33.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/OpenModsLib-1.12.2-0.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/RoguelikeDungeonsFnarEdition-1.12.2-2.1.4.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/AutoRegLib-1.3-32.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/bedpatch-2.2-1.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/BiomesOPlenty-1.12.2-7.0.1.2444-universal.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Chameleon-1.12-4.1.3.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Roots-1.12.2-3.0.32.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/OpenGlasses-MC1.12.2-2.2-50.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/SpartanWeaponryArcana-1.12.2-beta-1.0.3.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/thaumicperiphery-0.3.1.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/OreLib-1.12.2-3.6.0.1.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/ChangeSkinBukkit.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/moartinkers-0.6.0.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Chisel-MC1.12.2-1.0.2.45.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/mysticalworld-1.12.2-1.9.2.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/BentoBox/addons/TwerkingForTrees-1.4.1.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/PlaceholderAPI.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/VaultChatFormatter.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/BiblioCraft[v2.4.5][MC1.12.2].jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/MekanismTools-1.12.2-9.8.3.390.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/foamfix-0.10.10-1.12.2.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/JAOPCA-1.12.2-2.2.8.103.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/natura-1.12.2-4.3.2.69.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/WaterMechanicsBackport-1.0.3-1.12.2-NETHERFIX.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/AkashicTome-1.2-12.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/MysticalAgriculture-1.12.2-1.7.5.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Totemic-1.12.2-0.11.6.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/BentoBox-1.15.5.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/colytra-1.12.2-1.2.0.4.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/CosmeticArmorReworked-1.12.2-v5a.jar filter=lfs diff=lfs merge=lfs -text
servers/proxy/plugins/ChangeSkinBungee.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/ViaBackwards-3.2.1-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
servers/survival/config/plugins/TreeAssist.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/badwithernocookiereloaded-1.12.2-3.4.18.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/bonsaitrees-1.1.4-b170.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/extrautils2-1.12-1.9.9.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/RTG-1.12.2-6.1.0.0-snapshot.1.jar filter=lfs diff=lfs merge=lfs -text
servers/modpack/config/mods/Thaumcraft-1.12.2-6.1.BETA26.jar filter=lfs diff=lfs merge=lfs -text
servers/skyblock/config/plugins/spawntp.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/ChangeSkinBukkit.jar filter=lfs diff=lfs merge=lfs -text
servers/lobby/config/plugins/VoidGenerator-1.7.0.jar filter=lfs diff=lfs merge=lfs -text
